<%- include('../components/header'); -%>
<%- include('../components/navigation',{page:'data'}); -%>
<%= data %>
<div class="container-fluid">
<div class="row justify-content-center">
    <% for( let index = 0; index < data.length; index++ ) { %>
        <%- include ('../components/card',{card:data[index]}) -%> 
    <% } %>
</div>
</div>
<%- include('../components/footer'); -%>