<%- include('../components/header'); -%>
<%- include('../components/navigation',{page:'data'}); -%>
<div class="container-fluid">
<div class="row justify-content-center">
    <% for( let index = 0; index < data.length; index++ ) { %>
        <%- include ('../components/card',{card:data[index]}) -%> 
    <% } %>
</div>
</div>
<% if (modify) { %>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 card-identifier" style="margin: 10px 0px; max-width:350px;">
        <div class="card text-white bg-dark">
            <form action="/create/?id=<%=modify%> ">
                <input type="submit" value="Modify" />
            </form>
        </div>
    </div>
<% } %>
<%- include('../components/footer'); -%>